@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


:root {
    font-family: 'Montserrat', sans-serif;
}


body {
    margin: 0;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}


/* COMPOSANT : HEADER */

header {
    height: 68px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 5%;
    width: 80%;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

nav a {
    font-size: 24px;
    font-weight: 500;
    color: #FF6060;
}


nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: #FF6060;
}

@media screen and (max-width: 780px) {

    #header-logo {
        width: 60%;
    }

    nav {
        width: 150px;
    }

    nav a {
        font-size: 12px;
    }

}



/* COMPOSANT : FOOTER */

footer {
    /*position: absolute;
    bottom: 0;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 209px;
    background-color: #000;
    padding: 25px 0;
    width: 100%;
    margin: 0;
    text-align: center;
}


footer p {
    font-size: 24px;
    font-weight: 500;
    line-height: 0;
    color: #fff;
}


/* PAGE : 404 */

.error-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 5%;
}

.error-header {
    color: #ff6060;
    font-size: 288px;
    font-weight: 700;
    margin: 0;
}

.error-p {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    color: #ff6060;
}

.error-link {
    color: #ff6060;
    font-size: 18px;
    font-weight: 500;
}

.error-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: #FF6060;
}


/* COMPOSANT : THUMBNAIL CARD */

.card-container {
    margin: auto;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-items: center;
    margin-bottom: 60px;
    background-color: #f6f6f6;
    border-radius: 24px;
    padding: 48px;
    width: 80%;
}

@media screen and (max-width: 1200px) {

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        background-color: none;
        padding: 0;
    }

}

@media screen and (max-width: 880px) {

    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        height: 250px !important;
    }

}


.card {
    width: 100%;
    min-width: 250px;
    height: 300px;
    color: white;
    position: relative;
}

.card-title {
    position: absolute;
    bottom: 0;
    margin-right: 1.25rem;
    text-align: start;
    background: linear-gradient(rgba(7, 7, 7, 0), rgba(7, 7, 7, 0.3));
    width: 100%;
    border-radius: 10px;
}

.card-image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-title h3 {
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 1rem;
    padding-left: 1rem;
}


/* COMPOSANT : BANNER */


.banner {
    position: relative;
    height: 200px;
    border-radius: 25px;
    overflow: hidden;
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
}

.banner-title {
    font-size: 48px;
    font-weight: 500;
    margin: 0;
    text-align: center;
    width: 100%;
    color: white;
}

.banner-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  text-align: center;
}

.banner-image {
    /* background-color: rgba(0, 0, 0, .3);*/
    object-fit: contain;
}

@media screen and (max-width: 880px) {

    .banner {
        border-radius: 10px;
    }

}

@media screen and (max-width: 780px) {

    .banner-title {
        font-size: 24px;
    }

    .banner {
        height: 112px;
        border-radius: 10px;
    }

}


/* COMPOSANT : TAGS */

.tag {
    display: flex;
    height: 24px;
    align-items: center;
    background-color: #ff6060;
    border-radius: 8px;
    justify-content: center;
    min-width: 112px;
    padding: 0 16px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.tag-name {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* COMPOSANT : ACCORDEON */

.accordeon {
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
}

.accordeon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #000;
    background-color: #ff6060;
    border-radius: 12px;
    cursor: pointer;
    padding: 12px 24px;
    z-index: 10;

    font-size: 24px;
    font-weight: 500;
    color: white;
}

.accordeon-description {
    background-color: #f6f6f6;
    border-radius: 0 0 12px 12px;
    margin: 0;
    color: #ff6060;
    font-size: 24px;
    height: 0;
    padding: 0 20px;
    overflow: hidden;
    transition: height .5s linear;
    position: relative;
    top: -10px;
}

.accordeon img {
    display: block;
    transition: transform .5s linear;
}

.accordeon img.rotate {
    transform: rotate(180deg);
}


/* PAGE : LOGEMENT */

.title-location h1 {
    font-size: 36px;
    font-weight: 500;
    color: #ff6060;
}

.title-location h2 {
    font-size: 18px;
    font-weight: 500;
    color: #ff6060;
}

.logement-tags {
    display: flex;
    gap: 12px;
}

.title-author {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 15px;
}

.informations-logement {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-bottom: 5%;
}

.informations-logement .accordeon {
    width: 45%;
    margin: 0;
}

.informations {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-bottom: 4%;
}

.author {
    display: flex;
    align-items: center;
    gap: 12px;
}

.author-name {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
  color: #ff6060;
}

.author img {
  border-radius: 50%;
    height: 64px;
    object-fit: cover;
    width: 64px;
}

.rating {
    display: flex;
    gap: 12px;
}

.rating img {
    width: 32px;
}


/* STYLE INITIAL
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

/* SLider */
.caroussel {
    margin-bottom: 5%;
}

.slider {
    width: 80%;
    height: 300px;
    overflow: hidden;
    margin: auto;
    border-radius: 24px;
}

.slider-container {
    display: flex;
    height: 100%;
    transition: transform linear .5s;
}

.slider img {
    width: 100%;
    display: block;
    flex-shrink: 0;
    object-fit: cover;
}

.slider-infos {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;    
    position: relative;
}

.slider-infos a {
    background-color: transparent;
    border: none;
    cursor: pointer;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,.4));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,.4));
}

.slider-chevron-left {
    position: absolute;
    left: 30px;
    top: -200px
}

.slider-chevron-right {
    position: absolute;
    right: 30px;
    top: -200px
}

.caroussel p {
    width: 100%;
    text-align: center;
    margin: auto;
    position: relative;
    color: white;
    font-weight: bold;
    top: -50px;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,.4));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,.4));
}

.about-container {
    margin: auto;
    margin-bottom: 3%;
}