.caroussel {
    position: relative;
}

.slider {
    width: 80%;
    height: 415px;
    overflow: hidden;
    margin: auto;
    border-radius: 24px;
}

.slider-container {
    display: flex;
    height: 100%;
    transition: transform linear .5s;
}

.slider img {
    width: 100%;
    display: block;
    flex-shrink: 0;
    object-fit: cover;
}

.slider-infos {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

.slider-infos a {
    background-color: transparent;
    border: none;
    cursor: pointer;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,.4));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,.4));
}

.caroussel p {
    width: 100%;
    text-align: center;
    margin: auto;
    position: relative;
    color: white;
    font-weight: bold;
    top: -50px;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,.4));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,.4));
}

@media screen and (max-width: 780px) {

    .caroussel .banner-image {
        width: 50%;
    }

    .slider-chevron-left, .slider-chevron-right{
        top: -180px;
    }

}